.boxed-content-container {
  .container();
  .relative();
  margin: auto;
  margin-top: 450px;
  margin-bottom: 3rem;
  padding: 2.25rem 3rem;
  border: 1px solid #7D8E9F;
  border-radius: 24px;

  .content {
    p {
      line-height: 110%;
    }
  }

  .btn-container {
    .flex();
    .justify-center();
    .align-center();

    .ant-btn {
      width: 80%;
      margin: auto;
    }
  }
}

@media @mobile-large {
  .boxed-content-container {
    margin-top: 200px;
  }
}