.feature-cards-container {
  /*   display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 600px);
  grid-template-rows: repeat(50px, 1fr); */
  .container();
  columns: 500px;
  margin: 3rem auto;
  align-content: flex-start;

  * {
    break-inside: avoid;
  }

  .feature-card {
    background: #F5F6F9;
    border-radius: 30px;
    display: flex;
    .align-center();
    flex-direction: column;
    padding: 3rem 2.5rem 0 2.5rem;
    text-align: center;
    break-inside: avoid-column;
    margin: 2.5rem 1rem;
    overflow: hidden;

    h4 {
      margin-bottom: 1.43rem !important;
    }

    p {
      font-weight: 450;
      margin-bottom: 2rem !important;
    }

    .svg-container {
      display: flex;
      .justify-center();
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 0 auto;
      max-width: 100%;

      svg {
        width: 100%;
        height: auto;
        display: inline-block;
      }
    }

  }
}