.integrate-container {
  text-align: center;
  .container();
  margin: 10rem auto 6rem auto;

  * {
    margin-bottom: 0;
    letter-spacing: 0.01em;
  }

  h1 {
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 110%;
  }

  h2 {
    font-weight: 450;
    font-size: 2rem;
    line-height: 171.5%;
  }

  p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #535F6A;
    margin: 2rem auto;
    width: 40%;
  }
}