.lines-container {
  max-height: 85%;
  min-width: 400px;
  position: absolute;
  display: grid;
  grid-template: "mid";
  right: 20%;
  width: 40%;

  svg {
    width: 100%;
    height: 100%;
    grid-area: mid;
  }

  svg:nth-child(2) {
    transform: rotate(42.62deg);
  }
}