.our-numbers-container {
  padding: 2rem 0;
  .container();

  .text-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .bordered-number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.8rem 1.6rem;
    gap: 10px;
    border: 2px solid #E6E9EE;
    border-radius: 18px;

  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.8rem 1.8rem 2.8rem 2.6rem;
    gap: 1.5rem;
    height: 363px;
    background: #F5F6F9;
    border-radius: 18px;
    overflow: hidden;

    .svg-image {
      width: 430px;
      height: 252px;
    }
  }
}