  .our-customers {
    img {
      width: 100%;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      object-fit: contain;
    }


    &.line {
      .our-customers__wrapper {
        .flex();
        .full-width();
        justify-content: space-between;

        img {
          padding: 10px;
          max-width: 150px;
          max-height: 80px;
        }
      }

      h1 {
        font-size: 2rem;
        margin-bottom: 3rem;
      }
    }

  }

  @media @mobile-large {
    .our-customers {

      &.grid {
        .mt-72();
        .mb-48();

        .customer-grid {
          .mt-48();

          .ant-col {
            height: 100px;
          }

          img {
            max-height: 60px;
            max-width: 132px;
          }
        }
      }
    }
  }