.slider-container {
  background: linear-gradient(358.9deg, #000000 -36.66%, #200035 99.04%);
  border-radius: 30.0305px;
  position: relative;
  margin: auto;
  margin-bottom: -20%;
  margin-top: 3rem;

  .ant-carousel {
    position: relative;
    margin-bottom: -10%;

    .ant-row {
      display: flex !important;
      padding: 0 1.5rem;
    }
  }

  .header-section {
    text-align: center;
    margin: 4rem 0;

    * {
      margin-bottom: 0;
      color: @gray-text-color;
    }

    p {
      .uppercase();
      line-height: 171.5%;
      color: #E2DDEB;
    }

    h5 {
      line-height: 171.5%;
      font-weight: 450 !important;
    }
  }

  .ant-col {
    padding: 2rem 1rem;
  }
}



.sector-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  height: 100%;
  padding: 2.5rem 3rem;
  gap: 1.5rem;
  background: #FFFFFF;
  box-shadow: 0px 14px 50px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin: 1rem 0.5rem;

  .svg-container {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    .justify-center();
    .align-center();
    width: 4rem;
    height: 4rem;
    border-radius: 15.5px;
    background-color: @gray-text-color;
    gap: 1.8rem;

    svg {
      width: 100%;
      height: auto;
    }
  }

}