.text-with-tick {
  .flex();
  .align-center();
  gap: 0.25rem;
  color: @dark-blue-text-color  !important;

  &.light-blue {
    * {
      color: @color-secondary  !important;
    }
  }

  svg {
    margin: 0.32rem 0;
    width: 1.5rem;
    height: 1.5rem;
  }

  p {
    margin-bottom: 0;
    line-height: 2rem;
    font-size: 1rem;
    color: @dark-blue-text-color  !important;
    font-weight: 500;
  }
}